.parent{
    background-color: darksalmon;
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 10% 80%;
    grid-template-columns: 33% 33% 34%;
}

.header{
    background-color: beige;
    grid-column: 1/4;
    grid-row: 1/2;
}

.search{
    background-color: brown;
    grid-column: 1/3;
    grid-row: 2/3;
}

.left{
    background-color: rgb(255, 0, 238);
    grid-column:1/2 ;
    grid-row: 3/4 ;
}

.right{
    background-color: rgb(210, 30, 75);
    grid-column:3/4 ;
    grid-row: 2/4 ;
}

.middle{
    background-color: rgb(0, 100, 12);
    grid-column:2/3;
    grid-row: 3/4;
}