
        h1{
            color:aqua;
        }   
        #id1{
            background-color: rgb(153, 255, 0);
        }
        .class1{
            font-size: xx-large ;
        }
        *{
            text-align: center;
        }
        a:link{
            color: blue;
        }
        a:hover{
            color: blanchedalmond;
        }
        a:active{
            color: darkmagenta;
        }
        a:visited{
            color: black;
        }