html, body{
    margin: 0;
    height: 100%;
}
header{
    height: 50px;
    background: linear-gradient(90deg, blue,purple);
    color: white
}
footer{
    height: 30px;
    line-height: 30px;
    background: linear-gradient(90deg, purple,blue);
    color: white;
    font-size: 8pt;
    text-align: center;
}
section{
    height: calc(100% - 80px);
}
header nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
header nav.logo{
    font-size: 14pt;
    font-weight: bold;
    /* padding-left: 15px; */
    margin-left: 15px;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin: 0 15px;
}
header nav .menu{
    display: none;
} 

/* Responsiveness */
@media(max-width:768px){

header{
    line-height: 50px;
}
  header nav ul{
    display: none;
    position: absolute;
    top:50px;
    left:0;
    background: white;
    width:100%;
    padding: 0;
    margin:0;

  }
  header nav.menu{
    display: block;
    font-size: 16pt;
    margin-right: 15px;
  }
  header nav ul.active{
    display:block;
  }
  header nav ul li{
    background: linear-gradient(90deg, blue, purple);
    margin:2px 0 0 0;
    padding:0;
}
}